body {
        animation: fade 30s infinite;
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        color: black; 
    }
    
    .container {
        animation: fade 30s infinite;
        text-align: center;
        max-width: 800px;
        padding: 20px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: black; 
    }
    h1 {
        font-size: 60px;
        font-family: 'Lobster', cursive;
        margin: 20px 0;
        color: black; }
    p {
        font-size: 30px;
        margin: 20px 0;
        color: black; }
    h3 {
        font-size: 25px;
        transition: font-size 0.3s ease;
        color: black; }
    h3:hover {
        font-size: 35px;
    }
    a {
        color: black;
        text-decoration: none;
        transition: color 0.3s ease;
    }
    a:hover {
        background: -webkit-linear-gradient(#d93ce7,#00ffae);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    img {
        border-radius: 50%;
        margin: 20px 0;
        width: 150px;
        height: 150px;
        object-fit: cover;
        border: 5px solid black;
        transition: transform 0.3s ease;
    }
    img:hover {
        transform: scale(1.1);
    }
    footer {
        margin-top: 20px;
    }
    @keyframes fade {
        0%{background: linear-gradient(-30deg, #ef02a4, #e7a03c, #eaff00, #ffbf00);}
        10%{background: linear-gradient(-10deg, #ef02a4, #e7a03c, #eaff00, #ffbf00);}
        20%{background: linear-gradient(-20deg, #ef02a4, #e7a03c, #eaff00, #ffbf00);}
        30%{background: linear-gradient(-0deg, #ef02a4, #e7a03c, #eaff00, #ffbf00);}
        40%{background: linear-gradient(-40deg, #ef02a4, #e7a03c, #eaff00, #ffbf00);}
        50%{background: linear-gradient(-50deg, #ef02a4, #e7a03c, #eaff00, #ffbf00);}
        60%{background: linear-gradient(-80deg, #ef02a4, #e7a03c, #eaff00, #ffbf00);}
        70%{background: linear-gradient(-70deg, #ef02a4, #e7a03c, #eaff00, #ffbf00);}
        80%{background: linear-gradient(-60deg, #ef02a4, #e7a03c, #eaff00, #ffbf00);}
        90%{background: linear-gradient(-90deg, #ef02a4, #e7a03c, #eaff00, #ffbf00);}
        100%{background: linear-gradient(-100deg, #ef02a4, #e7a03c, #eaff00, #ffbf00);}
        }